*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #eee;
}
.header{
	background-color: #fff;
	height: 61px;
}
.logo img{
    padding: 9px;
    width: 153px;
}
.list-menu ul{
	list-style-type: none;
}
.list-menu ul li{
	float: left;
    padding: 20px;
}
.list-menu ul li a{
	text-decoration: none;
	color: #555555;
	font-size: 14px;
}
.thongtinuser ul{
	list-style-type: none;
	float: right;
	margin-bottom: 0;
}
.thongtinuser ul li{
	float: left;
	margin-top: 20px;
    padding: 0 20px;
}
.thongtinuser ul li a{
	text-decoration: none;
	color: #555555;
}
.thongtinuser ul li a span{
	font-size: 19px;
	color: #888;
}
.thongtinuser .tuyendung{
	padding: 10px;
	background-color: #00648f;
	font-weight: 500;
	margin: 0;
}
.thongtinuser ul li a .nha-tuyen-dung {
	color: #fff;
}
.thongtinuser ul li a .nha-tuyen-dung , .thongtinuser ul li a .dang-tin-tuyen-dung{
	font-size: 13px;
}
.thongtinuser ul li a .dang-tin-tuyen-dung{
	color: #00b9f2;
}
.slider{
	position: relative;
}
.search-container{
	position: absolute;
	z-index: 17;
	top: 0;
    left: 8%;
    width: 82%;
}
.slider .search-container .search-widget{
	margin-top: 193px;
	background: rgba(0,0,0,.65);
	color: #fff;
	padding: 20px;
	height: 149px;
}
.slider .search-container .search-widget h1{
	font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 0;
}
.slider .search-container .search-widget p{
	margin-left: 43%;
    margin-top: 70px;
}
.slider .search-container .search-widget p a{
	text-decoration: none;
	color: #fff;
}
.search-container .search-widget .form-search .search-all{
	float: left;
	width: 29%;
    height: 43px;
    margin-left: 7px;
}
.search-container .search-widget .form-search .cate-search{
	float: left;
	width: 26%;
    height: 43px;
    margin-left: 10px;
}
.search-container .search-widget .form-search .vitri{
	width: 26%;
    height: 43px;
    margin-left: 10px;
    float: left;
}
.btn-search{
	float: left;
    height: 43px;
    margin-left: 10px;
    width: 15%;
    background-color: #f7941d;
    color: #fff;
}
.carousel-inner{
	height: 566px;
}
.carousel-caption{
	padding-bottom: 117px;
}
.logo-caccongty .row .logo_congty{
	background-color: #fff;
	border: 1px solid #e8e8e8;
	margin-left: 11px;
    width: 15.666667%;
}
.logo-caccongty h1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.logo-caccongty{
	padding-bottom: 50px;
}
.logo_congty a{
	height: 150px;
	text-decoration: none;
	color: black;

}
.logo_congty a span{
	text-align: center;
	padding: 0 25px;
	display: block;
	padding-bottom: 10px;
}
.logo_congty img{
	margin: auto;
    display: block;
    padding-top:30px;
}
#logo-box{
	height: 100px;
}
.kenhvieclam h1{
	text-align: center;
}
.kenhvieclam .box-kenhvieclam .img-channel img{
	width: 100%;
}
.box-kenhvieclam .abc{
	opacity: .4;
    background-color: #333;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.kenhvieclam .box-kenhvieclam{
	margin-top: 10px;
    margin-bottom: 65px;	
}
.box-kenhvieclam .content{
	text-align: center;
	position: absolute;
	top: 48px;
	left: 25%;
    width: 196px;
    color: #fff;
}
.box-kenhvieclam .content .btn-primary{
	width: 120px;
    color: #fff;
    background-color: #f7941d;
    border-color: #f28809;
    margin-top: 5px;

}
.kenhvieclam .box-kenhvieclam .img-channel{
	position: relative;
}
.box-kenhvieclam:hover .abc{
	background-color: #111;
    opacity: .6;
}
.likejob h1{
	text-align: center;
    padding-bottom: 15px;	
}
.tab-content{
	background-color: #fff;
	padding: 33px;
}
.likejob .tab-container ul{
	list-style-type: none;
	margin-left: 33%;
}
.likejob .tab-container ul li{
	float: left;
	margin-left: 5px;
}
.likejob .tab-container ul li a{
	text-decoration: none;
    color: #000;
    padding-left: 20px;
    display: block;
    border-bottom: 2px solid grey;
     width: 197px;
    font-size: 20px;
}
.col-job{
    margin-top: 37px;
    margin-bottom: 29px;
}
.box-listjob{
    height: 81px;
    border-bottom: 1px solid #eee;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 47%;
}
.box-listjob .img-listjob img{
	width: 100%;
}
.box-listjob .infomationjob p:nth-child(1) , .box-listjob .infomationjob p:nth-child(2){
	font-size: 17px;

}
.tab-content .box-listjob .hot{
	display: block;
    background: #fd7c7d;
    width: 49px;
    border-radius: 3px;
    padding-left: 13px;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px
}
.tab-content .row{
	margin-top: 75px;

}
.nhatuyendung-noibat{
	margin-top: 20px;
	position: relative;
	height: 566px;
}
.nhatuyendung-noibat h1 {
	text-align: center;
	margin-bottom: 20px;
}
.thongtin-nhatuyendung {
	width: 960px;
    margin: auto;
    background-color: #fff;
    height: 233px;
    position: absolute;
  	top: 289px;
    left: 121px;
}
.thongtin-nhatuyendung .avatar{
	margin-top: 84px;
}
.thongtin-nhatuyendung .avatar img{
	width: 100%;
}
.thongtin-nhatuyendung .xemthem p{
	width: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    padding-left: 14px;
    background: #f7941d;
    float: right;
}
.thongtin-nhatuyendung .xemthem p a{
	text-decoration: none;
	color: white;
}
.nhatuyendung-hangdau h1{
	text-align: center;
	margin-bottom: 30px;
}
.nhatuyendung-hangdau .logo-list .img-list-logo{
	background-color: #fff;
	height: 90px;
	margin-left: 11px;
    width: 15.666667%;
    margin-bottom: 10px;
}
.nhatuyendung-hangdau .logo-list .img-list-logo a{
	display: block;
    padding: 18px;
}
.nhatuyendung-hangdau .logo-list .img-list-logo a img{
	width: 100%;
}
.nhatuyendung-hangdau{
	height: 314px;
}
.tuvannghenghiep h1{
	text-align: center;
	margin-bottom: 20px;
}
.tuvannghenghiep .tuvan .list-tuvan{
	background-color: #fff;
	margin-left: 34px;
    width: 30.333333%;
    padding-right: 0;
    padding-left: 0;
}
.tuvannghenghiep .tuvan .list-tuvan .text_list{
	padding: 15px;
}
.tuvannghenghiep .tuvan .list-tuvan .text_list p:nth-child(3){
	border: 1px solid #f7941d;
    border-radius: 3px;
    padding: 6px;
    text-align: center;
}
.tuvannghenghiep .tuvan .list-tuvan .text_list p:nth-child(3) a{
	text-decoration: none;
	color: #f7941d;
}
.tuvannghenghiep .tuvan .list-tuvan .text_list p:nth-child(3):hover {
	background-color: #f7941d;

}
.tuvannghenghiep .tuvan .list-tuvan .text_list p:nth-child(3):hover a{
	color: #fff;
}

.tuvannghenghiep .tuvan .list-tuvan img{
	width: 100%;
}
.footer{
	padding-left: 0;
	padding-right: 0;
}
.top-category{
	padding-left: 107px;
    background: #fff;
    margin-top: 50px; 
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer .top-category .top-search:nth-child(2), .footer .top-category .top-search:nth-child(4){
	padding-top: 81px;
}
.modal-content .header-login {
	border: none;
	text-align: center;
}
.modal-dialog{
	width: 708px;
}
.modal-dialog .modal-content{
	border-radius: 0px;
}
.modal-body a:nth-child(1){
	display: block;
    border: 1px solid grey;
    width: 44%;
    float: left;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    /* margin-right: 21px; */
    margin-left: 30px;
}
.modal-body a:nth-child(2){
	display: block;
    width: 44%;
    border: 1px solid grey;
    float: right;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
}
.modal-body{
	height: 500px;
}
.modal-body .form-dangky{
	margin-top: 77px;
}
.modal-body .form-dangky h3 {
	text-align: center;
}
.modal-body .form-dangky .form-nhap{
	width: 624px;
    margin: auto;
}
.dangky .btn{
	margin-left: 279px;
	margin-top: 45px;
}
.background{
	width: 100%;
    height: 172px;
    background: #00B9F2;
}
.information_company{
	position: absolute;
    top: 150px;
	background: #fff;
     left: 166px;
    height: 145px;
}
.content{
	height: 1150px;
}
.content-timkiem{
	height: 1050px;
}
.thongtin .img-logo img{
	display: block;
    /* height: auto; */
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-top: 25px;
}
.thongtin .thongtin-congty{
	padding: 8px;
}

.thongtin .thongtin-congty h3{
	font-weight: 700;
	margin-top: 12px;
    margin-bottom: 0px;
}
.btn_nopdon{
	margin-top: 21px;
}
.btn_nopdon a{
	display: block;
    width: 100%;
    height: 42px;
    border-radius: 2px;
    background: #f7941d;
    color: #fff;
    padding: 11px;
    padding-left: 51px;
}
.detail-content{
	margin-top: 66px;
	padding: 0;

}
.detail-content .three-tabs li a{
	color: #000;
}
.detail-content .three-tabs{
	border-bottom: none;
	padding-left: 17px;
}
.detail-content .content {
	border: 1px solid #e8e8e8;
	background: #fff;
	padding: 15px;
	height: 600px;

}
.right-content .thongtin-dangtuyen{
	border: 1px solid rgba(0,185,242,.5);
    padding: 18px;	
    border-radius: 2px;
}
.right-content .thongtin-dangtuyen div {
	height: 76px;
}
.right-content .thongtin-dangtuyen div p span{
	display: block;
}
 .content .left-content span{
	display: block;
	 padding: 10px;
}
.right-content .thongtin-dangtuyen div .fa{
	float: left;
	margin-right: 5px;
}
.right-content .thongtin-dangtuyen div p{
	float: right;
    width: 285px;
}
.detail-footer .information a img{
	    display: block;
	    float: left;
	    width: 38%;
	    padding: 18px;    
}
.detail-footer .information .abc{

    background: #fff;
  	height: 97px;
}
.detail-footer .information{
	margin-bottom: 18px;
}
.detail-footer .information .abc div{
	padding-top: 24px;
}
.form-searchs input{
	width: 23%;
    float: left;
    margin-right: 10px;
    height: 45px;
}
.form-searchs select{
	width: 25%;
    float: left;
    margin-right: 10px;
    height: 45px;
}
.form-searchs button{
	height: 45px;
    width: 24%;
    background: #f7941d;
    color: #fff;
}
.form-searchs{
	    padding: 10px;
    background: #00b9f2;
    margin-top: 20px;
}
.shownfindnumberjob{
	background: #fff;
    height: 55px;
    padding: 9px;
    margin-top: 25px;
}
.showjobs{
	margin-top: 10px;
}
.showjobs .img-jobs{
    background: #fff;
    padding: 11px;
    margin-left: 15px;
    width: 14.666667%;
}
.listjobs {
	border-bottom: 1px solid #e8e8e8;
}
.showjobs .listjobs .information-jobs ul{
	list-style: none;
}
.showjobs .listjobs .information-jobs ul li{
	float: left;
	margin-right: 107px;
}
.showjobs .listjobs .savejobs p a i {
	margin-right: 5px;
}
.showjobs .listjobs .savejobs p{
	padding-top: 18px;
}
.pagination>li>a{
	height: 53px;
    width: 50px;
    text-align: center;
    padding-top: 17px;
}
.pagination{
    margin-left: 514px;	
}
.showjobs .listjobs .information-jobs{
	background: #eaf8fc;
    height: 124px;
}