*{
	margin: 0;
	padding: 0;
}
.header_admin{
	background: #00a65a;
}
.header_admin a{
	color: #fff;
}
.box-title{
	border-bottom: 1px solid #f4f4f4;
}
.left_content{
	border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    /* width: 100%; */
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #e8e8e8;
}
.navbar-default{
background-color: #337ab7;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.nav-pills>li>a .fas{
	margin-right: 10px;
}
.nav-pills>li{

    border-bottom: 1px solid #e8e8e8;
}
.right_content{
	border: 1px solid #e8e8e8;
    margin-left: 20px;
    border-radius: 5px;
    width: 73%;
    height: 530px;
}
.footer h4{
	text-align: center;
	border-top: 1px solid #e8e8e8;
    padding-top: 18px;
}